# Question-1

In [3]:
# Write a program to print numbers divisible by both 7 and 8. Numbers between 1 and 1000.
# By using continue statement

print("Numbers divisible by both 7 and 8 between 1 and 1000 using continue statement:")
for i in range(1, 1001):
    if i % 7 != 0 or i % 8 != 0:
        continue
    print(i)

Numbers divisible by both 7 and 8 between 1 and 1000 using continue statement:
56
112
168
224
280
336
392
448
504
560
616
672
728
784
840
896
952

In [2]:
# By using pass statement

print("Numbers divisible by both 7 and 8 between 1 and 1000 using pass statement:")
for i in range(1, 1001):
    if i % 7 == 0 and i % 8 == 0:
        print(i)
    else:
        pass

Numbers divisible by both 7 and 8 between 1 and 1000 using pass statement:
56
112
168
224
280
336
392
448
504
560
616
672
728
784
840
896
952

# Question 2

In [3]:
# Number 34567222541147 has been given. Print the addition of all even digits and the addition of all odd digits.

num = '34567222541147' # Taking the number as a string 
ev = 0
odd = 0
for i in num:
    if int(i) % 2 == 0:
        ev = ev + int(i)
    else:
        odd = odd + int(i) 
print("Sum of all even numbers:",e)
print("Sum of all odd numbers:",odd)

Sum of all even numbers: 24
Sum of all odd numbers: 29

# Question 3

In [36]:
# Describe conditional expression. Write a program to print the maximum and minimum numbers from a list using conditional expression.
# Use the max () and min () functions to verify your output.

lst = [12,56,86,5,54,14,125,54,82,37]
print(len(lst))
# finding the minimum numbers among the numbers in the list
for i in lst:
    count = 0
    for j in lst:
        if i<=j:
            count = count + 1
    if count == len(lst):
        print("The minumum number of the list is:", i)
            
# finding the maximum numbers among the numbers in the list
for i in lst:
    count = 0
    for j in lst:
        if i>=j:
            count = count + 1
    if count == len(lst):
        print("The maximum number of the list is:", i)
            
print("The maximum number of the list by using max() function is:",max(lst))       
print("The minimum number of the list by using min() function is:",min(lst))

10
The minumum number of the list is: 5
The maximum number of the list is: 125
The maximum number of the list by using max() function is: 125
The minimum number of the list by using min() function is: 5

# Question 4

In [81]:
# Pascalâ€™s  Triangle : Print the following pattern for the given N number of rows.
n = 5
x = [[1]*(i+1) for i in range(n)]
print(x)
print("Printing of the pascle's triangle")
for i in range(2,n):
    for j in range(1,i):
        x[i][j] = x[i-1][j] + x[i-1][j-1]
        
        
for i in range(0,n):
    print(" "*(n-i-1),end="")
    for j in range(0,i+1):
        print(x[i][j],end=" ") 
    print()

[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1]]
Printing of the pascle's triangle
    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1

# Question 5

In [35]:
# A palindrome sentence is a phrase or sentence that reads the same forward as it does backward, ignoring spaces, punctuation, and capitalization.


# A) Take a number as input, determine if it is a palindrome, considering only integers. Eg: 2442
# The expected output for this example will print, 'True'


def palindrome_check(num):
    num = str(num)
    if num == num[::-1]:
        return True
    else:
        return False
    
num = int(input("Enter a integer number:"))   
print("The number is a palindrome:",palindrome_check(num))

Enter a integer number:1331
The number is a palindrome: True

In [91]:
# B) Now, take a string as an input and check whether it is Palindrome or not.  eg: "Was it a car or a cat I saw?"
# The expected output for this example will print, 'True'

def palindrome_check(str):
    if str.upper() == str[::-1].upper():
        return True
    else:
        return False
    
str = input("Enter a string:")   
print("The string is a palindrome:",palindrome_check(str))

Enter a string:Mom o mom
The string is a palindrome: True

# 6. Describe chr () and ord () functions. Write a small program to show its functionality.Using these functions,write a program to print:

Pattern for N=4

  A

  B B

  C C C

  D D D D

In [7]:
# Describing the functionality of the two function chr() and ord().

print("The character for the given unicode 97 is:",chr(97))
print("The unicode for the given character A is:",ord('A'))

print("Printing the characters in the given pattern:")
N = 4
for i in range(N):
    print(" ".join(chr(65+i)*(i+1)))

The character for the given unicode 97 is: a
The unicode for the given character A is: 65
Printing the characters in the given pattern:
A
B B
C C C
D D D D

# Question 7

# 7.You have a single list of names (each name should have first name and last name). Write a programme

(a) to print the first names.

(b) to print the last names.

(c) to print each name as 'last_name first_name.

(d) to print the names in the sorted order with respect to last name

In [116]:
name_lst = ['Abani Singha','Rabi Kumar','Rohit Roy','Joy Thakur','Venkey Tentu']
print("Printing of the first names:")
k = []
str1 = []
for i in name_lst:
    k = i.split()
    str1.append(k[0])
print(str1)

print("Printing of the last names:") 
str2 = []
for i in name_lst:
    k = i.split()
    str2.append(k[1])
print(str2)

print("Printing the names as last_names first_names: ")
str3 = []
for i in name_lst:
    k = i.split()
    st = k[1] + " " + k[0]
    str3.append(st)
print(str3)        

print("Printing the names as a sorted order with respect to the last_name:")
new_str = sorted(str3)
str4 = []
for i in new_str:
    k = i.split()
    st = k[1] + " " + k[0]
    str4.append(st)
print(str4)

Printing of the first names:
['Abani', 'Rabi', 'Rohit', 'Joy', 'Venkey']
Printing of the last names:
['Singha', 'Kumar', 'Roy', 'Thakur', 'Tentu']
Printing the names as last_names first_names:
['Singha Abani', 'Kumar Rabi', 'Roy Rohit', 'Thakur Joy', 'Tentu Venkey']
Printing the names as a sorted order with respect to the last_name:
['Rabi Kumar', 'Rohit Roy', 'Abani Singha', 'Venkey Tentu', 'Joy Thakur']

# 8. WAP to find the minimum of 3 numbers using

 a) with conditional expressions. (No loops should be used)

 b) with nested conditional expression. (No loops should be used)

 c) similar to problem (b), find the minimum of 4 numbers.

In [13]:
# Finding the minimum among the 3 numbers by using conditional expression (No loops should be used)

a,b,c = input("Enter three numbers by giving space: ").split()
a = int(a)
b = int(b)
c = int(c)

if a<b<c:
    print("The minimum among the elements is:",a)
elif b<c<a:
    print("The minimum among the elements is:",b)
else:
    print("The minimum among the elements is:",c)

Enter three numbers by giving space: 2 3 4
The minimum among the elements is 2

In [14]:
# Finding the minimum among the 3 numbers by using nested conditional expression (No loops should be used)

a,b,c = input("Enter three numbers by giving space: ").split()
a = int(a)
b = int(b)
c = int(c)

if a>b:
    if b<c:
        print("The minimum among the elements is",b)
    else:
        print("The minimum among the elements is",c)
else:
    if a<c:
        print("The minimum among the elements is",a)
    else:
        print("The minimum among the elements is",c)

Enter three numbers by giving space: 45 67 8
The minimum among the elements is 8

In [15]:
# Finding the minimum among the 4 numbers by using nested conditional expression (No loops should be used)

a,b,c,d = input("Enter three numbers by giving space: ").split()
a = int(a)
b = int(b)
c = int(c)
d = int(d)

if a>b:
    if b<c<d:
        print("The minimum among the elements is",b)
    elif c<b<d:
        print("The minimum among the elements is",c)
    else:
        print("The minimum among the elements is",d)
else:
    if a<c<d:
        print("The minimum among the elements is",a)
    elif c<a<d:
        print("The minimum among the elements is",c)
    else:
        print("The minimum among the elements is",d)

Enter three numbers by giving space: 2 3 4 5
The minimum among the elements is 2

# 9. Create a list of departments in IIT Madras (Minimum 5 ) and perform the following operations:

 append,
remove,
pop,
insert, 
reverse,
sort,
count,
index,
extend,
slice,
clear

In [34]:
dept_lst = ['MA','ME','CS','DOMS','BT','CE','EE']

print("Performing the operation append()")
dept_lst.append('ED')
print("Printing the list after append operation:",dept_lst)

print("Performing the operation remove()")
dept_lst.remove('BT')
print("Printing the list after remove operation:",dept_lst)

print("Performing the operation pop()")
pop_dept = dept_lst.pop()
print("poped deperment is:",pop_dept)
print("Printing the list after pop operation:",dept_lst)

print("Performing the operation insert()")
dept_lst.insert(1,'AE')
print("Insecting the depertment AE at the index 1. ")
print("Printing the list after insert operation:",dept_lst)

print("Performing the operation reverse()")
dept_lst.reverse()
print("Printing the list after reverse operation:",dept_lst)

print("Performing the operation sort()")
dept_lst.sort()
print("Printing the list after sort operation:",dept_lst)

print("Performing the operation count()")
n = dept_lst.count('DOMS')
print("Number of occurence of the dept 'DOMS' in the depertment list is:",n)

print("Performing the operation index()")
n = dept_lst.index('MA')
print("The dept '{}' comes {} th index in sorted the depertment list.".format('MA',n))

other_depts = ['CE','OE']
dept_lst.extend(other_depts)
print("After extending with other departments:", dept_lst)

print("Slice the list to get a subset from the dept_lst")
subset = dept_lst[0:5]
print("Subset of departments (index 0 to 4):", subset)

print("Performing the clear operation.")
dept_lst.clear()
print("After clearing the list:", dept_lst)

Performing the operation append()
Printing the list after append operation: ['MA', 'ME', 'CS', 'DOMS', 'BT', 'CE', 'EE', 'ED']
Performing the operation remove()
Printing the list after remove operation: ['MA', 'ME', 'CS', 'DOMS', 'CE', 'EE', 'ED']
Performing the operation pop()
poped deperment is: ED
Printing the list after pop operation: ['MA', 'ME', 'CS', 'DOMS', 'CE', 'EE']
Performing the operation insert()
Insecting the depertment AE at the index 1.
Printing the list after insert operation: ['MA', 'AE', 'ME', 'CS', 'DOMS', 'CE', 'EE']
Performing the operation reverse()
Printing the list after reverse operation: ['EE', 'CE', 'DOMS', 'CS', 'ME', 'AE', 'MA']
Performing the operation sort()
Printing the list after sort operation: ['AE', 'CE', 'CS', 'DOMS', 'EE', 'MA', 'ME']
Performing the operation count()
Number of occurence of the dept 'DOMS' in the depertment list is: 1
Performing the operation index()
The dept 'MA' comes 5 th index in sorted the depertment list.
After extending with other departments: ['AE', 'CE', 'CS', 'DOMS', 'EE', 'MA', 'ME', 'CE', 'OE']
Slice the list to get a subset from the dept_lst
Subset of departments (index 0 to 4): ['AE', 'CE', 'CS', 'DOMS', 'EE']
Performing the clear operation.
After clearing the list: []

In [47]:
name_lst = ['Abani Singha','Rabi Kumar','Rohit Roy','Joy Thakur','Venkey Tentu']
print("Printing of the first names:")
k = []
str1 = []
for i in name_lst:
    k = i.split()
    str1.append(k[0])
print(str1)

Printing of the first names:
['Abani', 'Rabi', 'Rohit', 'Joy', 'Venkey']

In [48]:
# List of full names
name_lst = ['Abani Singha', 'Rabi Kumar', 'Rohit Roy', 'Joy Thakur', 'Venkey Tentu']

# Initialize an empty list to store the split names
split_names = []

# Loop through each name in the list
for name in name_lst:
    # Check if the name has at least 3 characters
    if len(name) > 2:
        # Split the name at the character in the 3rd index and append to the list
        split_names.append([name[:2], name[2:]])

# Print the split names
print("Split names at the 3rd index:")
print(split_names)

Split names at the 3rd index:
[['Ab', 'ani Singha'], ['Ra', 'bi Kumar'], ['Ro', 'hit Roy'], ['Jo', 'y Thakur'], ['Ve', 'nkey Tentu']]

In [1]:
for i in range(1,5):
    print(i)

1
2
3
4